/* Empty. Add your own CSS if you like */
@font-face {
    font-family: "JennaSue";
    src: url('../fonts/JennaSue.ttf');
    font-weight: normal;
}@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 500;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight: 700;
}
a{
text-decoration: none;
}
a:hover{
text-decoration: none;
}
.scroll-bg {
    background: url('../img/background.png') no-repeat center center fixed;
    -webkit-background-size: 100% 100%;      -moz-background-size: 100% 100%;      -o-background-size: 100% 100%;      background-size: 100% 100%;
}
.login-set {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: 100px;
}
.set-login {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 100%;
    bottom: 40px;
}
.login-set .fb-btn {
    color: #fff;
    padding: 10px 50px 10px 50px;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    background: #4465ac;     background: -webkit-gradient(linear, left top, left bottom, from(#6181c7), to(#4465ac));     background: -webkit-linear-gradient(top, #6181c7, #4465ac);     background: -moz-linear-gradient(top, #6181c7, #4465ac);     background: -ms-linear-gradient(top, #6181c7, #4465ac);     background: -o-linear-gradient(top, #6181c7, #4465ac);
}
.set-login .twitt-btn {
    background: #32c8fa;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 0px;
    width: 100%;
    position: relative;
    padding: 10px 58px 10px 50px;     background: -webkit-gradient(linear, left top, left bottom, from(#33ccfa), to(#0b8db5));     background: -webkit-linear-gradient(top, #33ccfa, #0b8db5);     background: -moz-linear-gradient(top, #33ccfa, #0b8db5);     background: -ms-linear-gradient(top, #33ccfa, #0b8db5);     background: -o-linear-gradient(top, #33ccfa, #0b8db5);
}

.login-set i {
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
}
.set-login i {
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
}

.login-in {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
}
