/* Empty. Add your own CSS if you like */

@font-face {
    font-family: "JennaSue";
    src: url('../fonts/JennaSue.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 500;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-ExtraBold.ttf');
    font-weight: 700;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.scroll-bg {
    background: url('../img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-set {
    text-align: center;
    margin: 0 auto;
}
.set-login {
    text-align: center;
    margin: 40px auto;
}
.login-set .fb-btn {
    background: #43609c;
    color: #fff;
    padding: 7px 20px 7px 20px;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
}
.set-login .twitt-btn {
    background: #28aae1;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    position: relative;
    padding: 7px 24px 7px 20px;
}
.login-set i {
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
}
.set-login i {
    font-size: 20px;
    padding-right: 10px;
<<<<<<< HEAD
}
.bar .logo-font {
    font-family: "JennaSue";
    font-size: 37px;
} 
=======
    vertical-align: middle;
}
>>>>>>> origin/master
