/* Empty. Add your own CSS if you like */

@font-face {
    font-family: "SegoeUI";
    src: url('../fonts/segoeui.ttf');
    font-weight: normal;
}
@font-face {
    font-family: "SegoeUI";
    src: url('../fonts/segoeuil.ttf');
    font-weight: 300;
}
@font-face {
    font-family: "SegoeUI";
    src: url('../fonts/segoeuib.ttf');
    font-weight: 500;
}
@font-face {
    font-family: "SegoeUI";
    src: url('../fonts/segoeuii.ttf');
    font-weight: normal;
    font-style: italic;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.scroll-bg {
    background: #fff;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
.login-set {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: 100px;
}
.set-login {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 100%;
    bottom: 40px;
}
.login-set .fb-btn {
    color: #fff;
    padding: 10px 50px 10px 50px;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    background: #4465ac;
}
.set-login .twitt-btn {
    background: #32c8fa;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
    position: relative;
    padding: 10px 58px 10px 50px;
}
.login-set i {
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
}
.set-login i {
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
}
.login-in {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
}
.pic img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.pic {
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    background: #ccc;
    position: relative;
    margin: 10px auto 5px;
    text-align: center;
    background-image: url("../img/mahesh.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.pic h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.content {
    padding: 0px 0 10px;
}
.content h4 {
    margin: 4px 0px;
    font-size: 15px;
}
.thin {
    font-size: 17px;
    font-weight: 300;
}
.content h3 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 5px;
}
.content h2 {
    font-weight: 500;
    font-size: 22px;
    color: #1c7ccc;
}
.content .col+.col {
    border-left: 1px solid #ccc;
}
.content .row {
    padding: 0px;
}
.content .row {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.pic-holder h2 {
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0 15px;
}
.logo {
    text-align: center;
    width: 100%;
    height: 100%;
}
.logo img {
    max-height: 100%;
    max-width: 100%;
}
.team-set {
    width: 100%;
    text-align: center;
}
img.pre-img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: 1px solid;
}
.pre-tag {
    margin-top: 7px;
}
.fixtures {
    height: 100px;
    padding: 0px;
}
p.bolder {
    font-weight: 500;
    font-size: 14px;
    color: #3C3C3C;
}
p.small {
    font-weight: 400;
    font-size: 12px;
}
.vs-set {
    padding-top: 30px;
}
.team-set img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.fixtures .item {
    border: 1px solid #d7d7d7;
    position: relative;
    height: 125px;
    padding: 0px;
}
.team {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    border: 1px solid #1c7ccc;
}
.lefty {
    left: 0;
    background: #1c7ccc;
}
.righty {
    right: 0;
    background: white;
    color: #1c7ccc;
}
.fixtures a.item-content {
    padding: 0px;
    height: 100%;
}
.team-set+.team-set {
    margin-top: 10px;
}
.menu-list .icon {
    color: #1C7CCC;
}
.menu-list a.item-content {
    font-size: 14px;
    text-transform: uppercase;
}
.menu-list .item {
    border-width: 0px;
}
.bar .title {
    text-transform: uppercase;
}
.small-icon:before {
    font-size: 24px !important;
}
.button.clicked {
    background: #1c7ccc !important;
    color: white !important;
}
.col {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.checker {
    position: absolute;
    right: 0px;
    color: #258E0E;
    top: 0px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    opacity: 0;
    font-size: 20px;
}
.bar-above .col {
    position: relative;
}
.showr {
    opacity: 1;
}
.bar-above .item {
    max-height: 160px;
    min-height: 150px;
    height: auto;
}
.bar-above .team-set .row {
    padding-bottom: 25px;
}
.twitter .item {
    padding: 0;
    border: 0px;
}
.twitter .list {} .twitter .item+.item {
    border-top: 1px solid #ccc;
}
span.none {
    font-size: 11px;
    color: #6E6E6E;
}
.twitter .item.item-divider {
    padding: 10px;
    color: #1C7CCC;
    font-weight: 400;
    background: #fff;
    font-size: 17px;
}
.bar .title {
    font-size: 18px;
}
.item .badge {
    top: 5px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    display: inline;
    font-weight: 400;
}
.badge.badge-balanced {
    background-color: #1CBA30;
}
.badge.badge-assertive {
    background-color: #E23705;
}
.history .col {
    position: relative;
}
i.bigr {
    font-size: 40px;
}
.simple-page h4 {
    font-weight: 100;
    font-size: 16px;
}
.simple-page {
    padding-top: 37%;
}