<ion-view view-title="Predictions">
    <ion-content>

        <div class="list">
            <div class="team-set">
                <div class="item">
                   <div class="row team-time">
                       <div class="col col-100 ">
                           <ul>
                               <li>match 1</li>
                               <li>Wed</li>
                               <li>April 8</li>
                           </ul>
                       </div>
                   </div>
                    <div class="row">
                        <div class="col col-40">
                            <div class="MI teamLogo"></div>
                        </div>
                        <div class="col col-20 vs-set">
                            <p>VS</p>
                        </div>
                        <div class="col col-40">
                            <div class="CSK teamLogo"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-100 pre-tag">
                            <a href="">Prediction</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>