<ion-view view-title="Predict">
    <ion-content class="padding">
        <ion-list class="fixtures">

            <ion-item class="team-set" href="#/app/predict/{{prediction.id}}" ng-repeat="prediction in predictions">
            <div id="scrollhere" ng-if="prediction.status == 1"></div>
<i class="mark" ng-class="{green:prediction.status == 1, red:prediction.status != 1}"></i>
                <div class="row homepage">
                    <div class="col">
                       
                       <i class="icon ln-circle-checkmark checker" ng-class="{showr: prediction.team1id==prediction.predicted}"></i>
                        <img ng-src="img/{{prediction.team1id | imagefromname}}" class="img-responsive">
                    </div>
                    <div class="col col-50 vs-set">
                        <p class="small">{{prediction.venue}}</p>
                        <p class="bolder">{{prediction.starttime|date:'MMM d, y'}}</p>
                        <p class="bolder" ng-if="prediction.winner == 0">{{prediction.starttime|date:'EEEE, h:mma'}}</p>
                        <p class="bolder" ng-if="prediction.winner != 0">{{prediction.winner | shortform}} WON</p>
                    </div>
                    <div class="col">
                       <i class="icon ln-circle-checkmark checker" ng-class="{showr: prediction.team2id==prediction.predicted}"></i>
                        <img ng-src="img/{{prediction.team2id | imagefromname}}" class="img-responsive">
                    </div>
                </div>

                <div class="team lefty" ng-style="{'width':prediction.team1percent+'%'}" ng-if="prediction.team1percent != '-1'">{{prediction.team1percent}}%</div>
                <div class="team righty" ng-style="{'width':100-prediction.team1percent+'%'}" ng-if="prediction.team1percent != '-1'">{{100-prediction.team1percent}}%</div>

            </ion-item>


        </ion-list>
    </ion-content>
</ion-view>