<ion-view view-title="Leaderboard">
    <div class="custom-tabs">
        <div class="row">
           
            <div class="col" ng-click="clicked = true;template.url = 'templates/tab-everyone.html';" ng-class="{clicked: clicked == true}">Everyone</div>
            
            <div class="col" ng-click="clicked = false;template.url = 'templates/tab-friend.html';" ng-class="{clicked: clicked == false}">Friend</div>
            
        </div>
    </div>

    <ion-content class="has-custom-tabs padding-vertical">

        <div class="fadeanimate" ng-include="template.url"></div>

    </ion-content>
</ion-view>