<ion-view class="scroll-bg">
    <!--
    <ion-header-bar class="bar-positive">
        <h1 class="title">Login</h1>
    </ion-header-bar>
-->
    <div class="login-in">
        <div class="wraptocenter logo">
            <img src="img/logo.png" alt="">
        </div>
        <div class="login-set">
            <a  ng-click="facebooklogin()" class="fb-btn"><i class="icon ion-social-twitter"></i>login with facbook</a>
        </div>
        <div class="set-login">
<!--            <a href="http://www.wohlig.co.in/LightSaberBackend/index.php/hauth/login/Twitter?returnurl=http://www.wohlig.co.in/ipl" class="twitt-btn"><i class="fa fa-twitter-square"></i>login with twitter</a>-->
           
            <a class="twitt-btn" ng-click="twitterlogin()"><i class="icon ion-social-twitter"></i>login with twitter</a>
        </div>
    </div>
</ion-view>