<ion-view view-title="Predictions">
    <ion-content class="padding padding-more">


        <ion-list class="fixtures">
            <ion-item href="google.com">
<div class="team-set">
                <div class="row">
                    <div class="col col-25">
                        <img src="img/mumbai.png" class="img-responsive">
                    </div>
                    <div class="col col-50 vs-set">
<p>Wankhade , <span>20:00(IST)</span></p>
<p style="font-weight: 700;">Wed,<span>April 8</span></p>
                    </div>
                    <div class="col col-25">
                       <img src="img/kkr.png" class="img-responsive">
                    </div>
                </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>