<ion-list class="more-leaders">
    <ion-item class="item-leader">
        <div class="pic pic-leader" style="background-image: url({{userdetails.image|normal2original}});"></div>
        <div class="row no-pad">
            <div class="col col-67">
                <h5>#1</h5>
                <h3>Chintan Shah</h3>
                <p>Predicts: 3</p>
            </div>
            <div class="col">
                <ion class="icon ion-social-facebook icon-notice"></ion>
            </div>
            <div class="col col-25">
                <h4>500</h4>
            </div>
        </div>
    </ion-item>
    <ion-item class="item-leader">
        <div class="pic pic-leader" style="background-image: url({{userdetails.image|normal2original}});"></div>
        <div class="row no-pad">
            <div class="col col-67">
                <h5>#1</h5>
                <h3>Chintan Shah</h3>
                <p>Predicts: 45</p>
            </div>
            <div class="col">
                <ion class="icon ion-social-twitter icon-notice"></ion>
            </div>
            <div class="col col-25">
                <h4>300000</h4>
            </div>
        </div>
    </ion-item>
</ion-list>